<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div>
  <h1>Boost ton projet web avec l'elite des buddies</h1>
 <img src="..." alt="Developpement web">
</div>

<div class="main-container">

      <div class="cards">
        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/rio)">
        <p>Prenom,</p>
        </div>

        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/berlin)">
        </div>

        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/shanghai)">
        </div>

        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/barcelona)">
        </div>

        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/paris)">
        </div>

        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/london)">
        </div>

        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/melbourne)">
        </div>

      </div>
</div>
