.navbar-lewagon {
  justify-content: space-between;
  background: #000000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

p {
  color: white;
  margin-top: 10px;
}

a {
  color: white;
}

.btn {
  color: #000000;
  background-color: white;
  border-radius: 15px;
  margin-right: 20px;
}
<<<<<<< HEAD

.btn:hover {
  color: #000000;
  background-color: 3EDBF0;
  border-radius: 15px;
  margin-right: 20px;
}
=======
>>>>>>> 10949a50c2a09bd3dd6dc16429c84156038dbd60
